.film-five {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.top-film {
    background: #fff;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    width: 50%;
}

.clickable {
    cursor: pointer;
    transition: background .12s ease, transform .06s ease;
}